<template>
  <div id="map" ref="map"></div>
</template>
<script>

import 'leaflet/dist/leaflet.css'
import L from 'leaflet'
import AnimatedMarker from './utils/AnimatedMarker'
const coordinates = require('./utils/coordinates.json')
export default {
  name: 'Map',
  data () {
    return {
      map: null,
      tileLayer: null
    }
  },
  methods: {
    initMap () {
      this.map = L.map('map').setView([38.730233, 55.27144], 6)
      this.tileLayer = L.tileLayer(
          'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
          {
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, &copy; <a href="https://carto.com/attribution">CARTO</a>'
          }
      )
      this.tileLayer.addTo(this.map)
      this.showPolyline()
    },

    showPolyline () {
      // const data = { coordinates: [['2019-06-28T07:33:03', 37.610225, 55.651365], ['2019-06-28T07:33:18', 37.610225, 55.651365], ['2019-06-28T07:33:38', 37.610225, 55.651365], ['2019-06-28T07:33:39', 37.610225, 55.651365], ['2019-06-28T07:33:40', 37.6107283333333, 55.6511716666667], ['2019-06-28T07:33:44', 37.6107483333333, 55.6510966666667], ['2019-06-28T07:33:45', 37.610735, 55.6510683333333], ['2019-06-28T07:33:46', 37.610745, 55.6510383333333], ['2019-06-28T07:33:47', 37.610785, 55.6510233333333], ['2019-06-28T07:33:48', 37.61083, 55.65103], ['2019-06-28T07:33:49', 37.6109316666667, 55.6510383333333], ['2019-06-28T07:33:51', 37.6111016666667, 55.6510166666667]] }
      const tracks = []
      coordinates.forEach((track) => {
        tracks.push([track[2], track[1]])
      })
      const polyline = L.polyline(tracks, { color: '#e31e24' })
      L.featureGroup([polyline])
          .addTo(this.map)
      this.map.fitBounds(polyline.getBounds())
      const startIcon = L.divIcon({
        className: 'start-end-icon',
        html: '<svg width="16" id="Layer_1" fill="blue" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 106.06 122.88" style="enable-background:new 0 0 106.06 122.88" xml:space="preserve"><g><path d="M0,4.16C0,1.86,1.86,0,4.16,0c2.3,0,4.16,1.86,4.16,4.16v6.34h94.62c1.72,0,3.12,1.4,3.12,3.12v66.8 c0,1.72-1.4,3.12-3.12,3.12H8.32v35.18c0,2.3-1.86,4.16-4.16,4.16c-2.3,0-4.16-1.86-4.16-4.16V4.16L0,4.16z M84.42,55.3h15.4V37.73 h-15.4V55.3L84.42,55.3z M82.06,77.3V57.66H64.94V77.3H82.06L82.06,77.3z M82.06,35.37V16.74H64.94v18.63H82.06L82.06,35.37z M43.1,77.3V57.66H25.97V77.3H43.1L43.1,77.3z M45.46,55.3h17.12V37.73H45.46V55.3L45.46,55.3z M43.1,35.37V16.74H25.97v18.63H43.1 L43.1,35.37z M23.62,55.3V37.73H8.43V55.3H23.62L23.62,55.3z"/></g></svg>',
        iconSize: [30, 30]
      })
      const endIcon = L.divIcon({
        className: 'start-end-icon',
        html: '<svg width="16" id="Layer_1" fill="red" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 106.06 122.88" style="enable-background:new 0 0 106.06 122.88" xml:space="preserve"><g><path d="M0,4.16C0,1.86,1.86,0,4.16,0c2.3,0,4.16,1.86,4.16,4.16v6.34h94.62c1.72,0,3.12,1.4,3.12,3.12v66.8 c0,1.72-1.4,3.12-3.12,3.12H8.32v35.18c0,2.3-1.86,4.16-4.16,4.16c-2.3,0-4.16-1.86-4.16-4.16V4.16L0,4.16z M84.42,55.3h15.4V37.73 h-15.4V55.3L84.42,55.3z M82.06,77.3V57.66H64.94V77.3H82.06L82.06,77.3z M82.06,35.37V16.74H64.94v18.63H82.06L82.06,35.37z M43.1,77.3V57.66H25.97V77.3H43.1L43.1,77.3z M45.46,55.3h17.12V37.73H45.46V55.3L45.46,55.3z M43.1,35.37V16.74H25.97v18.63H43.1 L43.1,35.37z M23.62,55.3V37.73H8.43V55.3H23.62L23.62,55.3z"/></g></svg>',
        iconSize: [30, 30]
      })
      L.marker(tracks[0], { icon: startIcon }).addTo(this.map)
      L.marker(tracks[tracks.length - 1], { icon: endIcon }).addTo(this.map)
      setTimeout(() => {
        this.startTrack(polyline, tracks)
      }, 1000)
    },

    startTrack (line) {
      const icon = L.divIcon({
        html: '<svg fill="blue" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M23.5 7c.276 0 .5.224.5.5v.511c0 .793-.926.989-1.616.989l-1.086-2h2.202zm-1.441 3.506c.639 1.186.946 2.252.946 3.666 0 1.37-.397 2.533-1.005 3.981v1.847c0 .552-.448 1-1 1h-1.5c-.552 0-1-.448-1-1v-1h-13v1c0 .552-.448 1-1 1h-1.5c-.552 0-1-.448-1-1v-1.847c-.608-1.448-1.005-2.611-1.005-3.981 0-1.414.307-2.48.946-3.666.829-1.537 1.851-3.453 2.93-5.252.828-1.382 1.262-1.707 2.278-1.889 1.532-.275 2.918-.365 4.851-.365s3.319.09 4.851.365c1.016.182 1.45.507 2.278 1.889 1.079 1.799 2.101 3.715 2.93 5.252zm-16.059 2.994c0-.828-.672-1.5-1.5-1.5s-1.5.672-1.5 1.5.672 1.5 1.5 1.5 1.5-.672 1.5-1.5zm10 1c0-.276-.224-.5-.5-.5h-7c-.276 0-.5.224-.5.5s.224.5.5.5h7c.276 0 .5-.224.5-.5zm2.941-5.527s-.74-1.826-1.631-3.142c-.202-.298-.515-.502-.869-.566-1.511-.272-2.835-.359-4.441-.359s-2.93.087-4.441.359c-.354.063-.667.267-.869.566-.891 1.315-1.631 3.142-1.631 3.142 1.64.313 4.309.497 6.941.497s5.301-.184 6.941-.497zm2.059 4.527c0-.828-.672-1.5-1.5-1.5s-1.5.672-1.5 1.5.672 1.5 1.5 1.5 1.5-.672 1.5-1.5zm-18.298-6.5h-2.202c-.276 0-.5.224-.5.5v.511c0 .793.926.989 1.616.989l1.086-2z"/></svg>',
        iconSize: [40, 50]
      })
      const animatedMarker = AnimatedMarker(line.getLatLngs(), {
        autoStart: true,
        interval: 10,
        icon
      })

      this.map.addLayer(animatedMarker)
    }

  },
  mounted () {
    this.initMap()
  }
}
</script>
<style>
* {
  margin: 0;
  padding: 0;
}
#map {
  width: 100%;
  height: 100vh;
}
.leaflet-div-icon {
  min-width: 30px !important;
  width: 30px !important;
  height: 30px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: transparent;
}
.start-end-icon {
  display: flex;
  align-items: start;
  justify-content: flex-end;
  border: none;
  background: transparent;
}
</style>
